*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
height: 100%;
width:100%;
}

.Parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 10px 20px;
  display: flex;
 justify-content: center;
 flex-wrap: wrap;
 gap: 20px;


}

.card{
  height: 290px;
  width: 230px;
  background-color: bisque;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.card img{
  margin: 5px 12px;
  height: 120px;
  width: 90%;
object-fit: cover;
object-position: center;
}

.card h1{
  font-size: 20px;
  padding: 0 10px;
}
.card p{
  font-size: 15px;
  padding: 8px 10px;
}

.button button{
  padding: 6px 50px;
  border-radius: 10px;
  border: none;
  background-color: lightskyblue;
  color: black;
  font-size: 14px;
  margin: 10px 0;

}