*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
height: 100%;
width:100%;
}

.page-1{
    height: 100vh;
    width: 100%;
    background-color: #111;
}


.page-2{
    height: 100vh;
    width: 100%;
    background-color: #222;
}


.page-3{
    height: 100vh;
    width: 100%;
    background-color: #333;
}