*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
height: 100%;
width:100%;
}
body{
  background-color: #111;
  color: white;
}
.nav{
  height: 60px;
  width: 100%;
background-color: lightslategray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .logo{
  padding: 10px 20px;
  font-size: 1.1rem;
  color: black;
}
.nav .center{
  display: flex;
gap: 30px;
}
.center a{
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}
.nav .right-nav{
  padding: 10px 20px;
  font-size: 1.1rem;
  color: black;
}
.parent{
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap :20px;
}
.card{
  width: 200px;
  height: 250px;
  padding: 20px;
  text-align: center;
border-radius: 10px;
border: 2px solid white;
background-color: #222;

}
.card img{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.card p{
  color: white;
  padding: 10px 0;
}
.card button{
  padding: 10px 20px;
  border: none;border-radius: 10px;
  background-color: lightpink;
  color: black;
}
button:hover{
  background-color: black;
  color: white;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
