*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
height: 100%;
width:100%;
}


.light{
    background-color: lightseagreen;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}

.Dark{
    background-color: rgb(103, 178, 32);
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}

.nav2{
    display: flex;
    gap: 30px;
}