@import "tailwindcss";

h1{
  font-size: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
font-family: bold;
white-space: nowrap;
text-transform: capitalize;
color: white;
}