*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html, body{
height: 100%;
width:100%;
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  font-size: 100px;
  text-decoration: underline;
  white-space: nowrap;
}

.nav{
  display: flex;
  justify-content: space-between;
  padding: 30px;
  color: white;
  background-color: lightseagreen;
}

.nav div{
  display: flex;
  gap: 30px;
  font-size: 20px
}
